.venv
__pychache__
*.pyc
*.pyo
*.pyd
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info
config/__pychache__
models/__pychache__
services/__pychache__
utils/__pychache__
models/license_plate_model/
